.generic-button {
    margin-left: 30px;
    margin-right: 30px;
    background-color: #A5FFDD;
    color: black;
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #616e7c inset;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
}

.generic-button:hover {
    background-color: #7ABEA4;
}