.entry-summary-main-div {
    background-color: #1F2933;
    padding: 1px 25px;
    width: 50%;
    margin: 5px auto;
    text-align: left;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry-summary-main-div-expanded {
    background-color: #1F2933;
    padding: 1px 25px;
    width: 50%;
    text-align: left;
    margin: 0px auto;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry-summary-inner-div {
    width: 95%;
    text-align: center;
    cursor: pointer;
}

.entry-summary-title {
    color: #F5F7FA;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

.entry-summary-main-div:hover {
    background-color: #52606d;
}

.ellipses-icon {
    height: 25px;
    cursor: pointer;
    padding: 3px;
}

.line-break {
    border-color: #616e7c;
    border-width: 2px;
    width: 90%;
}

.entry-detail-main-div {
    width: 50%;
    text-align: left;
    border-radius: 0px 0px 15px 15px;
    margin: 0px auto 5px auto;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #1F2933;
    padding: 5px 25px 15px 25px;
}


.entry-text {
    color: #F5F7FA;
    font-size: 15px;
    padding: 10px 0px;
}