.searchbar-buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.search-input {
    border-radius: 22px;
    border: none;
    background-color: #52606D;
    color: #F5F7FA;
    padding: 5px 20px;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    width: 100%
}

.searchbar-div {
    width: 25%;
    display: flex;
    background-color: #52606D;
    border-radius: 22px;
}

.search-icon {
  text-indent: -999px;
  overflow: hidden;
  width: 45px;
  padding: 0;
  margin: 0;
  border-radius: 22px;
  cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f5f7fa;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f5f7fa;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #f5f7fa;
  }

  .entries-div {
    text-align: center;
  }

  .no-entries-text {
      font-size: 22px;
      color: #f5f7fa;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: bold;
  }

.new-entry-text {
    color: #A5FFDD;
    text-decoration: underline;
    cursor: pointer;
}

  